name: mle
channels:
  - conda-forge
dependencies:
  - python=3.11
  - pip
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - jupyter
  - pytest
  - pip:
      - fastapi
      - uvicorn[standard]
      - joblib
      - pydantic